<main>
  <h1>Production</h1>
  <button><%=link_to 'Importer de nouvelles données', new_daily_path %></button>
  <ul>
    <p>Données journalières</p>
    <% @dailies.each do |data| %>
      <li><%="Date : #{data[:date].strftime("%F")} - Energie produite : #{data[:energy].to_fs(:delimited, delimiter: " ")} "%> - <%= link_to 'Détail', daily_path(data) %> - <%= link_to 'Supprimer', daily_path(data), data: { turbo_method: :delete } %></li>
    <% end %>
  </ul>


</main>
